@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
  }

.gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        rgb(41, 129, 252) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, rgb(251, 57, 235) 0px, transparent 50%),
      radial-gradient(at 52% 99%, rgb(237, 58, 253) 0px, transparent 50%),
      radial-gradient(at 10% 29%, rgb(118, 72, 246) 0px, transparent 50%),
      radial-gradient(at 97% 96%, rgb(13, 77, 141) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, rgb(177, 12, 161) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }

  @keyframes scroll{
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translateX(calc(-250px * 7));
      }
  }

  .slider-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }